# Node (React)
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/build/

# .NET Core
backend/ReciptIQ/bin/
backend/ReciptIQ/obj/
backend/ReciptIQ/.vs/
backend/ReciptIQ/appsettings.*.json
backend/ReciptIQ/appsettings*.json

# General
.DS_Store
*.log
